@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/*---------color palette---------*/

:root {
  --neutral-one: #f5f5f5;
  --neutral-two: #171717;
  --primary: #abb491;
  --secondary: #ebeee3;
}

/*---------Setup---------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--neutral-two);
  background: var(--neutral-one);
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" -25, "opsz" 20;
}
